.second-node {
	width: 65%;
	color: #301530;
	background-image: linear-gradient(-225deg, #FFCCFF 0%, #F9FEA5 100%);
	border-radius: 10px;
	padding: 10px;
	box-shadow: 10px 5px 30px aqua;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 3px;
}
.third-node {
	background-image: linear-gradient(-225deg, #ADFFAD 0%, #FFCBA4 100%);
	border-radius: 10px;
	padding: 5px;
	box-shadow: 10px 5px 30px #C0C0C0;
	width: 90%;
}
.title-style {
	background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
	border-radius: 10px;
	padding: 10px;
	letter-spacing: 3px;
	box-shadow: 10px 5px 30px aqua;
}
.title-layout, .row-layout {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
body {
	background: url('../img/abc.png') no-repeat center center fixed;
	background-size: auto;
	font-family: serif;
}
.main-layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 5px;
}
.column-layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a:hover {
	background-color: yellow;
	border-radius: 5px;
	padding: 5px;
}
footer {
	background-color: #33333300;
	color: #FFFFFF88;
	text-align: center;
	width: fit-content;
	border-radius: 10px;
	padding: 5px;
}
table {
	border: 2px solid black;
}
th, td {
	border: 1px solid black;
}
code {
	background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
	color: #FFFFFF;
	padding: 0.2em;
	border-radius: 0.3em;
}
